<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.liaoyunan.englishapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:hardwareAccelerated="true"
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:label="学习单词"
            android:name=".activity.LearnWordActivity">

        </activity>
        <activity
            android:label="单词收藏"
            android:name=".activity.WordBookActivity">

        </activity>
        <activity
            android:label="单词测试"
            android:name=".activity.WordTestActivity"/>
        <activity
            android:label="分数结算"
            android:name=".activity.CalScoreActivity"/>
    </application>

</manifest>